.cards-bloc {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    & .deck {
        cursor: pointer;
        width: 510px;
        height: 390px;
        position: relative;
        & .back-card {
            width: 500px;
            height: 380px;
            background-image: url('../assets/card-verso.png');
            background-size: cover;
            background-position: center;
            position: relative;
            border-radius:  30px;
            border: 1px solid rgb(172, 172, 172);
            text-align: center;
            & p {
                color: white;
                font-family: 'payback', sans-serif;
                font-size: 1.4rem;
                letter-spacing: .2rem;
                margin-top: 1rem;
            }
        }
        :nth-child(1) {
            z-index: 11;
        }
        :nth-child(2) {
            top: -380px;
            right: -5px;
            z-index: 10;
        }
        :nth-child(3) {
            top: -760px;
            right: -10px;
            z-index: 9;
        }
        :nth-child(4) {
            top: -1140px;
            right: -15px;
            z-index: 8;
        }
        :nth-child(5) {
            top: -1520px;
            right: -20px;
            z-index: 7;
        }
    }
}
.dialog-card {
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: rgba($color: black, $alpha: .6);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    .card {
        width: 500px;
        height: 380px;
        border-radius:  30px;
        box-shadow: 1px -1px 2px white;
        overflow: hidden;
        .showCard {
            background-image: url('../assets/card-recto.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: 100%;
            height: 100%;
            margin: auto;
            & div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 2rem;
                width: 80%;
                margin: auto;
                margin-top: 1rem;
                & h1 {
                font-family: 'payback', sans-serif;
                color:  white;
                font-size: 2rem;
                letter-spacing: .5rem;
                text-transform: uppercase;
                }
                & p {
                    color:  white;
                    font-size: 1.5rem;
                    margin: 0;
                }
            }
        }
    }
    img {
        height: 350px;
        object-fit: contain;
        object-position: center;
        background-color: rgba($color: white, $alpha: .7);
    }
}

.openCard {
    display: inline-block;
}

.closeCard {
    display: none;
}

.closeButton {
    margin-right: 1rem;
    margin-top: 0.5rem;
    align-self: flex-end;
    color: white;
    rotate: 45deg;
    font-size: 2.2rem;
    cursor: pointer;
}