// Variables

$bgcolor: #333333;
$colorPrimary: #90cfcf;

html {
    font-family: sans-serif;
    background-color: $bgcolor;
    color: white;
    height: 100vh;
}

h1, h2{
    font-family: 'payback', sans-serif;
    letter-spacing: .5rem;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0;
    img {
        width: 70px;
        height: 70px;
        object-fit: contain;
    }
}